
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.next-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #000;
  font-size: 15px;
  text-align: center;
  background-color: Transparent;
}

.amenity-card {
  font-size: ;
  padding: 10px;
  margin: 10px;
  width: 20%;
  height: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.login-form {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5)
}

.home-screen {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 100px;
  grid-template-areas:
  "header header header header"
  ". . . ."
  ". content content ."
  ". . . ."
  "footer footer footer footer"
  ;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
  "logo hotel-name-cs . . . date-time";
}

.home-screen-content {
  grid-area: content;
}

.home-screen-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "hotel-name-footer ."
  "next-button ."
  "empty empty"
}

.home-screen-footer .empty-space {
  grid-area: empty;
}

.home-screen-footer .hotel-name-cs {
  display: inline-block;
  grid-area: hotel-name-footer;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  margin-left: 15px;
}

.home-screen-footer .next-button {
  grid-area: next-button;
  /* margin: 10px; */
  margin-left: 20px;
}

.home-screen-content .clock {
  font-size: 150px;
  color: #FFF;
  display: block;
  /* font-family: sans-serif; */
}

.home-screen-content .date {
  font-size: 20px;
  color: #FFF;
  display: block;
}

.login-form input, label {
}

.header .hotel-logo {
  grid-area: logo;
  width: 50px;
  height: 44px;
  background-color: Transparent;
  background: url(./assets/images/logo_transparent.png) no-repeat center;
  background-size: 50px;
  /* border: 1px solid #000; */
  display: inline-block;
  padding: 10px;
  margin-left: 15;
}

.header .hotel-name-cs {
  display: inline-block;
  grid-area: hotel-name-cs;
  padding: 10px;
  font-size: 12px;
  text-align: left;
}

.header .header-time-date {
  display: inline-block;
  grid-area: date-time;
  padding: 10px;
  font-size: 12px;
  text-align: right;
}

.home-screen, .login-screen {
  background: url(./assets/images/app_background.jpg) no-repeat;
  /* background-position: top left; */
  background-size: cover;
}

.header-clock {
  display: block;
}

.header-date {
  display: block;
}
