.guest-home-screen-content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 columns, each column is the same width */
  grid-auto-rows: minmax( 100px, auto);
  /* grid-template-rowhome-screen-s: repeat(3, 1fr); */
  grid-template-areas:
  "header header header header"
  "amenities amenities amenities amenities"
  "amenities amenities amenities amenities"
  "amenities amenities amenities amenities"
  "footer footer footer footer";
  grid-gap: 10px
}

.header{
  grid-area: header;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  "p . . . . clock";
}

.header>*{
  background: #F00
}

.header div{
  grid-area: p;
  border: 1px solid #000;
}

.header .clock{
  grid-area: clock;
}

.amenities{
  grid-area: amenities;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-rows: 1fr;
}
.amenities >*{
  border: 1px solid #000;
}

.footer{
  grid-area: footer;
  border: 1px solid #000;
}
