.home-screen-content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 columns, each column is the same width */
  grid-auto-rows: minmax( 100px, auto);
  /* grid-template-rowhome-screen-s: repeat(3, 1fr); */
  grid-template-areas:
  "header header header header"
  ". . . ."
  ". clock clock ."
  ". . . ."
  "footer footer footer footer";
  grid-gap: 10px;
}

.home-screen-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr 1fr;
  grid-template-areas:
  ". . . footer-label "
  "next-button . . footer-label";
  grid-area: footer;
  border: 1px solid #000;
}

.home-screen-header{
  grid-area: header;
  border: 1px solid #000;
}

.home-screen-clock{
  grid-area: clock;
  border: 1px solid #000;
}

.next-button{
  grid-area: next-button;

}

.home-screen-footer div{
  border: 1px solid #000;
  grid-area: footer-label;
}
